//
//  Secrets.xcconfig
//  ByteCoin
//
//  Created by Yunus Emre AKYOL on 3.02.2025.
//  Copyright © 2025 The App Brewery. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = c2e2d08a-b15c-49d3-b55c-fa10dd8d7227
